.email {
  padding-top: 1em;
  padding-bottom: 5em;
}

.email__subject {
  color: #555555;
  margin: 0.1em 0em 0.3em;
}

.email__subject-label {
  color: #9A9CA0;
  text-transform: uppercase;
}

.email__subject-from {
  color: #5E687B;
  font-style: italic;
}
