$brand-primary: #FF4C44;
$btn-border-radius-base: 20px;
$font-family-base: 'Roboto', sans-serif;
$grid-columns: 24;
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$link-hover-decoration: none;
$navbar-default-bg: #FFF;
$navbar-default-border: #FFF;
$navbar-default-link-color: #9A9CA0;
$navbar-margin-bottom: 10px;

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_email.scss";
@import "_loading-bar.scss";
@import "_masonry-grid.scss";

body {
  // Needed because we're using navbar-fixed-top
  padding-top: 60px;
}

.footer {
  padding-top: 20px;
}

.navbar-brand {
  padding-top: 8px;
}

.post {
  background: #eee;
  max-height: 500px;
  overflow: hidden;
  border: 1px solid #eee;
}
.post:hover img {
  opacity: 0.5;
}

.category {
  font-size: 1.5em;
  height: 140px;
  line-height: 140px;
  &:hover {
    box-shadow: inset 0 0 0 3px $link-hover-color;
  }
}

// Extend default Bootstrap classes to add support for legacy WordPress content
.button { @extend .btn; }
.button.default { @extend .btn-primary; }
.button.default.codepen { @extend .btn-default; }

.submit-email-button {
  font-size: 2em;
  margin-right: 0;
  margin-top: 8px;
}

.search-field {
  .input-group-addon {
    background: none;
    border: none;
    border-bottom: 1px solid #D7D7D7;
    border-radius: 0;
    color: $navbar-default-link-color;
    padding: 0;
  }
  input[type="search"] {
    @include box-shadow(none);
    border: none;
    border-bottom: 1px solid #D7D7D7;
    border-radius: 0;
  }
}

.advertisement {
  position: absolute;
  left: 5px;
  right: 15px;
}

@import "_beta-banner.scss";
