<div class="row">
  <div class="col-md-24 email" ng-show="vm.post.title">
    <span class="email__subject-label">Subject</span>
    <h2 class="email__subject" ng-bind-html="vm.post.title.rendered"></h2>
    <span class="email__subject-from">from</span>
    <a ng-href="{{vm.post._embedded['wp:term'][1][0].link | rgeUrl}}">{{vm.post._embedded['wp:term'][1][0].name}}</a>
  </div>
</div>

<div class="row">

  <div class="col-md-14">
    <div class="well" ng-show="vm.post.content" ng-bind-html="vm.post.content.rendered"></div>
    <img
      alt="{{vm.post._embedded['wp:featuredmedia'][0].alt_text}}"
      class="img-responsive"
      height="{{vm.post._embedded['wp:featuredmedia'][0].media_details.sizes.standard.height}}"
      ng-src="{{vm.post._embedded['wp:featuredmedia'][0].media_details.sizes.standard.source_url}}"
      width="{{vm.post._embedded['wp:featuredmedia'][0].media_details.sizes.standard.width}}"
    >
    <ul class="list-inline">
      <li ng-repeat="term in vm.post._embedded['wp:term'][0]">
        <h3><a ng-href="{{term.link | rgeUrl}}">{{term.name}}</a></h3>
      </li>
    </ul>
  </div>

  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <broadstreet-zone zone-id="56072"></broadstreet-zone>
      </div>
      <div class="col-md-12">
        <broadstreet-zone zone-id="56072"></broadstreet-zone>
      </div>
    </div>
    <dir-disqus config="vm.disqusConfig"></dir-disqus>
  </div>

</div>
